body {
    justify-content: center;
    text-align: center;
    margin:0 auto; /* centering */
    background-color: #e8f7fc;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
div.left {
    float:left;
    width:250px;
    margin:0;
    padding-bottom:2em;
    padding-right:1em;
    overflow: auto
}

div.right {
    margin-left:px;
    padding-left:1em;
    padding-top:1px;
    padding-bottom:2em;
}

p {
    font-size: 1.0em;
    padding-left: 300px;
    padding-right: 300px;
}


/* img {
    width: 100%;
    height: auto;
}

nav ul, footer ul {
    font-size: 0.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #0088cc;
}

a:hover {
    text-decoration: underline;
}



p {
    font-size: 1.0em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.25em;
}

ul.posts li {
    list-style: none;
}

div {
    color: #333;
}




div.publication {
    margin: 10px auto 20px;
    font-size: 0.8em;
}

div.press {
    margin: 10px auto 20px;
    font-size: 0.8em;
}

div.content {
    margin: 10px auto 20px;
}

iframe {
    border: 0;
}

div.news-container {
    margin: 20px 20px 0 0;  
    overflow: auto
}

div.news-thumb {
    float: left
}

div.news-thumb img {
    display: block;
    margin-right: 1em;
}

div.news-content {
}

div.news-title {
    padding: 9px;
}

img.icon {
    height: 20px;
    margin-right:10px;
}

img.research-thumbnail {
    height: 60px;
    float: right;
    border: 0px;
}

img.post-thumbnail {
    height: 100px;
    float: left;
    padding-right: 1em;
    align: center;
}

span.new {
    font-weight: bold;
    color: blue;
} */
